
:root{
    --pink: hsl(275, 100%, 97%);
    --light-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    
}

body{
    background-color: var(--pink);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: repeat-x;
}

.attribution{
    font-size: smaller;
    position: absolute;
    bottom: 10px;
}

.pop-out{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    border-radius: 11px;
    background-color: white;
    margin-top: 30px;
    margin-left: 50px;
    align-items: baseline;
    justify-content: baseline;
    border: 0.5px solid grey;
    padding: 12px;

}

.title{
    display: inline-flex;
    gap: 30px;
    margin-bottom: 0px;
}
.faq{
    display: flex;
    flex-direction: column;
    margin: 5px 15px 20px 15px;
    width: 300px;
    border-bottom: 0.8px solid rgba(200, 200, 200, .7);
}


.question{
    width: 300x;

    border: none;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.question:hover{
    cursor: pointer;
    color: #AD28EB;
}

.question-text{
    width: 250px;
    font-weight: 600;
    font-size: larger;
}


.expand-button{
    margin-left: 30px;
}

/* collapsible */

.active img {
    content: url(assets/images/icon-minus.svg);
}


.additional-text{
    font-weight: 400;
    opacity: .6;
    display: none;
}

@media  screen and (min-width: 575px) {
    body{
        display: flex;
        justify-content: center;
    
    }
    .pop-out{
        margin-top: 15vh;
        width: 575px;
    }

    .faq{
        width: 525px;
    }
    .question{
        width: 525px;
    }

    .question-text{
        width: 475px;
    }
}